.top,
section {
  margin-bottom: 4rem;
}

.top {
  h1 {
    padding: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

.row {
  img {
    max-width: 500px;
  }
}

.left {
  margin-right: 2.5rem;
}

img {
  margin-bottom: 1.25rem;
}

@media (max-width: 880px) {
  img {
    max-height: 480px;
  }

  .break {
    flex-direction: column;

    .left {
      margin-right: 0;
    }
  }
}
